.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  background-color: beige;
}

.header a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(142, 97, 97);
  font-weight: bold;
}

.login-block {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
